strong {
  font-style: oblique;
  font-weight: 800;
  color: gray;
}

body {
  background-color: beige;
}

h2 {
  font-family: monospace;
  color: cadetblue;
}

h3 {
  font-family: sans-serif;
  color: cadetblue;
}

ul, li, ol, li {
  color:darkcyan;
}
.Addition {
  color: blue;
}